<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.pr.gh.mapper.IGhMapper">
	<!-- namespace는 어떤 interface를 참조하는지 지정  -->
	
	
	<!--VO객체이름과 DB의 컬럼명이 다를 때 맞춰주는 작업  -->
	<resultMap type="com.spring.pr.command.GhVO" id="GhMap">
		<!-- 기본키는 id 태그를 사용하고 나머지는 result 태그를 사용 -->
		<id property="ghNum" column = "GH_NUM_SEQ"/>
		
		<result property="ghName" column ="GH_NAME"/>
		<result property="ghOfcName" column ="GH_OFC_NAME"/>
		<result property="ghOfcNum" column="GH_OFC_NUM"/>
		<result property="ghYear" column="GH_YEAR"/>
		<result property="ghSrttn" column="GH_SRTTN"/>
		<result property="ghSocNum" column="GH_SOC_NUM"/>
		<result property="ghBsnsNum" column="GH_BSNS_NUM"/>
		<result property="ghJob" column="GH_JOB"/>
		<result property="ghFax" column="GH_FAX"/>
		<result property="ghHomeNum" column="GH_HOME_NUM"/>
		
		<result property="ghAcadBack" column="GH_ACAD_BACK"/>
		<result property="ghAcadBackFile" column="GH_ACAD_BACK_FILE"/>
		<result property="ghAcadBackFileReal" column="GH_ACAD_BACK_FILE_REAL"/>
		<result property="ghCarrer" column="GH_CARRER"/>
		<result property="ghCarrerFile" column="GH_CARRER_FILE"/>
		<result property="ghCarrerFileReal" column="GH_CARRER_FILE_REAL"/>
		
		<result property="ghEmail" column="GH_EMAIL"/>
		<result property="ghPhoneNum" column="GH_PHONE_NUM"/>
		<result property="ghBank" column="GH_BANK"/>
		<result property="ghAccHol" column="GH_ACC_HOL"/>
		<result property="ghBankNum" column ="GH_BANK_NUM"/>
		<result property="ghPostNum" column ="GH_POST_NUM"/>
		<result property="ghAddr" column="GH_ADDR"/>
		<result property="ghDtlAddr" column ="GH_DTL_ADDR"/>
		<result property="appNumSeq" column ="APP_NUM_SEQ"/>
		<result property="joinId" column="JOINID"/>
		
	</resultMap>
	
	
	<insert id="regist">
		INSERT INTO GH(GH_NUM_SEQ, GH_NAME, GH_OFC_NAME, GH_OFC_NUM, GH_YEAR, GH_SRTTN, GH_SOC_NUM, GH_BSNS_NUM, GH_JOB, GH_FAX, GH_HOME_NUM, GH_ACAD_BACK, GH_ACAD_BACK_FILE, GH_ACAD_BACK_FILE_REAL, GH_CARRER, GH_CARRER_FILE, GH_CARRER_FILE_REAL, GH_EMAIL, GH_PHONE_NUM, GH_BANK, GH_ACC_HOL, GH_BANK_NUM, GH_POST_NUM, GH_ADDR, GH_DTL_ADDR)
		VALUES(GH_NUM_SEQ_NAME.NEXTVAL, #{ghName}, #{ghOfcName}, #{ghOfcNum}, #{ghYear}, #{ghSrttn}, #{ghSocNum}, #{ghBsnsNum}, #{ghJob}, #{ghFax}, #{ghHomeNum}, #{ghAcadBack}, #{ghAcadBackFile}, #{ghAcadBackFileReal}, #{ghCarrer}, #{ghCarrerFile}, #{ghCarrerFileReal}, #{ghEmail}, #{ghPhoneNum}, #{ghBank}, #{ghAccHol}, #{ghBankNum}, #{ghPostNum}, #{ghAddr}, #{ghDtlAddr})
	</insert>
	
	<select id ="getList" resultMap="GhMap">
	
		SELECT * FROM GH
	
	</select>
	
	<select id="getTotal" resultType="int">
	
		select count(*) from GH
	
	</select>
	
	<select id = "getContent" resultMap="GhMap">
		select * from GH where GH_NUM_SEQ = #{ghNum}
	</select>
	
	<update id="update">
		
		UPDATE GH SET GH_NAME = #{ghName}, GH_OFC_NAME = #{ghOfcName}, GH_OFC_NUM = #{ghOfcNum}, 
		GH_YEAR = #{ghYear}, GH_SRTTN = #{ghSrttn}, GH_SOC_NUM = #{ghSocNum}, GH_BSNS_NUM = #{ghBsnsNum}, 
		GH_JOB = #{ghJob}, GH_FAX = #{ghFax}, GH_HOME_NUM = #{ghHomeNum}, 
		GH_ACAD_BACK = #{ghAcadBack}, GH_ACAD_BACK_FILE = #{ghAcadBackFile}, GH_ACAD_BACK_FILE_REAL = #{ghAcadBackFileReal},
		GH_CARRER = #{ghCarrer}, GH_CARRER_FILE = #{ghCarrerFile}, GH_CARRER_FILE_REAL = #{ghCarrerFileReal}, 
        GH_EMAIL = #{ghEmail}, GH_PHONE_NUM = #{ghPhoneNum}, GH_BANK = #{ghBank}, GH_ACC_HOL = #{ghAccHol}, 
        GH_BANK_NUM = #{ghBankNum}, GH_POST_NUM = #{ghPostNum}, GH_ADDR = #{ghAddr}, GH_DTL_ADDR = #{ghDtlAddr}
		 
		where GH_NUM_SEQ = #{ghNum} 
		
	</update>
	
	<delete id="delete">
		DELETE FROM GH WHERE GH_NUM_SEQ = #{ghNum}
	</delete>

	
</mapper>
