<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.pr.insapp.mapper.IInsappMapper">

	<resultMap type="com.spring.pr.command.TotalApplierVO" id="TotalApplierMap">
		<id column="APP_NUM_SEQ" property="AppNum"/>
		<result column="JOIN_ID" property="JoinId"/>
		<result column="APP_WHTR_INGB" property="AppWhtrIngb"/>
		<result column="APP_DATE" property="AppDate"/>
		<result column="APP_CLASSIFICATION" property="AppClassification"/>
		<result column="APP_NAME" property="AppName"/>
		<result column="INS_NAME" property="appInsName"/>
		<result column="INS_PHONE" property="appInsPhone"/>
	</resultMap>
	

	<resultMap type="com.spring.pr.command.UserBasicVO" id="UserBasicMap">
		<result column="JOINID" property="JoinId"/>
		<result column="JOINSOCNUM" property="JoinSocNum"/>
	</resultMap>
	
	<resultMap type="com.spring.pr.command.UserDetailVO" id="UserDetailMap">
		<result column="JOINNAME" property="JoinName"/>
		<result column="JOINPW" property="JoinPw"/>
		<result column="JOINGEN" property="JoinGen"/>
		<result column="JOINEMAIL" property="JoinEmail"/>
		<result column="JOINPHONE" property="JoinPhone"/>
		<result column="JOINADDRBASIC" property="JoinAddrBasic"/>
		<result column="JOINADDRDETAIL" property="JoinAddrDetail"/>
		<result column="JOINSOCNUM" property="JoinSocNum"/>
	</resultMap>
	
	<resultMap type="com.spring.pr.command.InsVO" id="InsMap">
		<result column="INS_NUM" property="InsNum"/>
		<result column="INS_NAME" property="InsName"/>
		<result column="INS_PHONE" property="InsPhone"/>
		<result column="INS_ADDR" property="InsAddr"/>
		<result column="JOINID" property="JoinId"/>
	</resultMap>
	
	<select id="getInsappList" resultMap="TotalApplierMap">
		SELECT * FROM
			(
			SELECT ROWNUM AS rn, tbl.*FROM
				(
					SELECT ta.app_num_seq, ins.ins_name, ins.ins_phone, ta.app_date
					FROM Totalapplier ta INNER JOIN Ins ins
					ON ta.join_id = ins.joinid
					ORDER BY INS_NUM ASC
				)tbl
			)
		<![CDATA[
	      WHERE rn > (#{pageNum}-1) * #{cpp}
	      AND rn <= #{pageNum} * #{cpp}
     	]]>
	</select>
	
	<select id="getInsappTotal" resultType="int">
		SELECT COUNT(*) FROM Userbasic
	</select>
	
	<select id="getInsappContent" resultMap="TotalApplierMap">
		SELECT ud.joinname, ub.joinid, ud.joinpw, ud.joinphone, ud.joinemail, ud.joingen, ub.joinsocnum, ud.joinaddrbasic, ud.joinaddrdetail,
        		ins.ins_name, ins.ins_phone, ins.ins_addr
		FROM userdetail ud INNER JOIN Userbasic ub 
				ON ud.joinsocnum = ub.joinsocnum
    		INNER JOIN Ins ins
        		ON ub.joinid = ins.joinid
		WHERE ub.joinid = #{JoinId}
	</select>
	
	<update id="updateInsapp1">
		UPDATE userdetail SET
			JOINNAME = #{JoinName}, joinphone = #{JoinPhone},
			joinemail = #{JoinEmail}, joinaddrbasic = #{JoinAddrBasic}, joinaddrdetail = #{JoinAddrDetail}
		WHERE joinsocnum = #{JoinSocNum}
	</update>
	
	<update id="updateInsapp2">
		UPDATE ins SET
			ins_name = #{InsName}, ins_phone = #{InsPhone}, ins_addr = #{InsAddr}
		WHERE joinid = #{JoinId}
	</update>
	
	<delete id="deleteInsapp1">
		DELETE FROM userdetail
		WHERE JOINSOCNUM = #{JoinSocNum}
	</delete>
	
	<delete id="deleteInsapp2">
		DELETE FROM ins
		WHERE INS_NUM = #{InsNum}
	</delete>
	
	<delete id="deleteInsapp3">
		DELETE FROM userbasic
		WHERE JOINID = #{JoinId}
	</delete>
	
</mapper>