<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.pr.unq.mapper.IUnqMapper">

	<resultMap type="com.spring.pr.command.UnqualifyVO" id="UnqMap">
		<result column="JOIN_ID" property="JoinId"/>
		<result column="UNQ_REASON" property="UnqReason"/>
	</resultMap>
	
	<insert id="UnqRegist">
		INSERT INTO Unqualify
		VALUES (#{JoinId}, #{UnqReason})
	</insert>
	
	<select id="getUnqList" resultMap="UnqMap">
		SELECT * FROM Unqualify
	</select>
	
	<select id="getUnqTotal" resultType="int">
		SELECT COUNT(*) FROM Unqualify
	</select>
	
	<select id="getUnqContent" resultMap="UnqMap">
		SELECT * FROM Unqualify
		WHERE JOIN_ID = #{JoinId}
	</select>
	
	<update id="updateUnq">
		UPDATE Unqualify SET
		UNQ_REASON = #{UnqReason}
		WHERE JOIN_ID = #{JoinId}
	</update>
	
	<delete id="deleteUnq">
		DELETE FROM Unqualify
		WHERE JOIN_ID = #{JoinId}
	</delete>

</mapper>